*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}


.container{
    text-align: center;
    margin-left: auto;
    margin-right:auto;
}


.calc{
    background-color: aqua;
    border:1px black solid;
    border-radius: 2px;
    width:30px;
    height:30px;
}