*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}


.container{
    text-align: center;
    margin-left: auto;
    margin-right:auto;
}
#display{
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calc{
    background-color: rgba(237, 176, 5,1);
    border:1px black solid;
    border-radius: 2px;
    width:30px;
    height:30px;
}

.calc:hover{
    background-color: rgba(251,186,3,1);
    cursor: grab;
}

.calc:active{
    background-color: rgba(222, 165, 4,1);
    cursor: default;
}